.form-container{
    min-height: 100vh;
}
.add-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    /* align-items: center; */
    margin: 0 auto;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
    padding: 30px 40px 30px 40px;
    margin-top: 50px;
}

@media (max-width:688px) {
    .add-item{
        width: 100%;
        margin-top: 30px;
    }
}