.login-outer-container{
    min-height: 100vh;
}
.login-container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}
.login-area{
    width: 500px;
    padding: 40px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
}
.login-area h4{
    text-align: center;
}
.login-items{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-size: 18px;

}
.a{
    text-decoration: none;
    color: #d25904;
    font-size: 16px;
}
.login-container .p{
    margin: 0;
    font-size: 16px;
}
.a:hover{
    color: #ff6c03;
    text-decoration: underline;
}
.login-items .login{
    border-radius: 4px;
    height: 54px;
    background: #efefef;
    outline: none;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin-bottom: 15px;
}
::placeholder{
    color: gray;
    font-size: 18px;
}

.login-btn{
    color: #fff;
    background-color: #de5e04;
    border-color: #d25904;
    border: none;
    /* padding: 5px 0px; */
    border-radius: 4px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}

@media (max-width:688px) {
    .login-container{
        margin-top: 45px;
    }
    
}