.wrapper-container{
    width: 360px;
}

.social-icons{
    padding-bottom: 50px;
}

.img-logo{
    width: 140px;
}
.logo-img-container{
    display: flex;
    justify-content: center;
}
.icons{
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    color: red;
}
.contacts-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.wrapper-container a{
    text-decoration: none;
    list-style: none;
}
.list{
    list-style: none;
}

.footer-container{
    display: flex;
    gap: 50px;
}
.footer{
    background-color: rgba(32, 31, 31, 0.952);
    padding-top: 60px;
}
.footer-area{
    padding-top: 25px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.wrapper-container a{
    color: white;
}
.wrapper-container a:hover{
    color: red;
    text-decoration: underline;
}
.work-hour{
    padding-bottom: 50px;
}

@media (max-width:688px){

    .footer-container{
        flex-direction: column;
        padding-bottom: 35px;
        text-align: center;
    }
    .contacts-container{
        /* display: block; */
        text-align: center;
        /* margin: 0 auto; */
        margin-left: 45px;
    }
}