nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 1em;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.dropdown{
    position: absolute;
    background-color: lightcoral;
    display: none;
}

nav ul li:hover .dropdown{
    display: block;
}

nav>ul>li:hover>.dropdown.mega-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:2em;
}
.mega-menu h3{
    font-size: 20px;
    color:red;
    margin-bottom: 0px;
}