.review {
  width: 330px;
  height: 500px;
  padding: 10px 30px 30px 30px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
}
.review img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.review .icons {
  color: orange;
  font-size: 26px;
}
.rating-align{
    display: flex;
    /* justify-content: center; */
}
.review p{
    text-align: justify;
}
@media (max-width:688px) {
  .review{
    width: 290px;
  }
}