.prompt {
  text-align: center;
  margin: 12px 0px;
}
.social-login {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.google-signin {
  background-color: #dc4133;
  border: none;
  border-radius: 4px;
  height: 46px;
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}
.github-signin {
  background-color: black;
  border: none;
  border-radius: 4px;
  height: 46px;
  color: white;
  font-size: 18px;
}
.social-icon {
  font-size: 22px;
  margin-right: 8px;
}
