.reviews-title{
    text-align: center;
    margin: 100px 0px 60px 0px;
    color: crimson;
    font-size: 48px;
}
.all-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 50px;
}
.reviews-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width:688px) {
    .all-reviews{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .reviews-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .reviews-title{
        margin: 40px 0px 20px 0px;
        font-size: 35px;
    }
}