.page_404 {
  padding: 40px 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}
.text-center{
	text-align: center;
}
.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 15px 35px;
  background: crimson;
  margin: 20px 0;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}
.contant_box_404 {
  margin-top: -50px;
}