.user-name{
    color: white;
    background-color: rgba(239, 13, 13, 0.632);
    font-size: 19px;
    font-weight:500;
    /* padding: 0px; */
    /* margin: 0px; */
    /* border: 1px solid white; */
   border-radius: 60px !important;

}

@media (max-width:688px) {
    .header-img{
        display: none;
    }
}