.charts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    overflow: hidden;
}
.chart{
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* gap: 500px; */
}
.charts-container h2{
    color: rgba(12, 12, 240, 0.911);
    text-align: center;
}
.dashboard{
    margin: 100px 0px;
}

@media (max-width:688px) {
    .charts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .line-chart{
        width: 350px;
        overflow: hidden;
    }
}