.form-container{
    width: 600px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.form-title{
    font-size: 35px;
    color: #2a414f;
    font-weight: 400;
}
.input-group label{
    display: block;
    margin-left: 5px;
}
.input-group input{
    width: 415px;
    height: 55px;
    border:1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 10px;
}
.input-group {
    margin-bottom: 20px;
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 123, 0, 0.3);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover {
    background-color: rgba(255, 123, 0, 0.5);
}
.form-link{
    color: #ff9900;
    text-decoration: none;
}
.form-link:hover{
    text-decoration: underline;
}